body {
/*    font-size: 1em;*/
    font-family: verdana;
    text-align: center;
    color: #000000;
/*    background-image: url('http://giphy.com/gifs/maudit-cat-lol-maudit-slDJbFAKnNtEQ')
    background-size: cover;*/
}

.hidden {
    display: none;
}

.active {
  font-size: 6em;
  display: block;
  font-style: bold;
}

#commenttext {
  font-size: 2em;
}

#fineprint {
  font-size: .6em;
}
